.our_process {
    background-color: #fff;
    padding: 80px 0 116px;
}

.line{
    width: 64px;
    height: 2px;
    background: #E72424;
    margin: auto;
    
}
.process-subscript{
    margin-top: 34px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
}
.process-card-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}
.process-card{
    width: 350px;
    text-align: center;
}
.process-card__icon{
    display: flex;
    justify-content: center;
}
.process-card__img {
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.process-card__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    color: #333333;
}
.process-card__descript {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

